.kkd-rightb10vwr .gabung {
    width: 26vw !important;
    height: 4vw;
    font-size: 25px;
}

.bermitra {
    font-size: 20px;
}

.jangkau-grup {
    margin-left: 17vw;
}

.gabung {
    width: 15vw;
    height: 3vw;
    font-size: 20px !important;
}