.leftbar a, .link-forum a {
    text-decoration: none;
    color: rgb(25, 25, 25);
}

.rightbar {
    box-shadow: 0px 6px 6px rgb(0 0 0 / 10%);
    transition: 100ms;
    border-radius: 10px;
}

/* Baru */
.bagaimana {
    font-size: 20px;
}

.setelah {
    font-size: 17px;
}

.custom-select {
    background-color: rgb(18, 153, 82);
    color: #FFF7E9;
    width: 6vw;
    border-radius: 5px;
}

.tabsTitle, #fill-tab-example-tab-aktif, #fill-tab-example-tab-belum-dijawab, #fill-tab-example-tab-baru {
    color: rgb(25, 25, 25) !important;
}